dist: bionic
language: java
before_install:
- rm ~/.m2/settings.xml
jdk:
- openjdk11
install: ./mvnw -v
script: ./mvnw -B -nsu verify jacoco:report
cache:
  directories:
  - "$HOME/.m2"
branches:
  except:
  - "/^release\\/.*$/"
after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  slack:
    secure: QjRewg4n/n5ZZ2YxIG9reWKiLDPT1Lu9RAjL/nUvP0iJIEc7yZ60Udz0jjWQYddXTb/4UCL3+Ob8th54EZqGI08XPfH0fgEksSuf/sithxEPJqYPNSiV/8lupJkJXynd9X+m+XYR+wDSq8BUilYvVACXmlytMrmmr6UkumKR7pqs+AlH47yv8LzChtIpcHj46gbxYhoxMpa8pp7uaVXkXtp1UbQSszwo2z+pcKnaLXhkYkj1jHTUQ0Vr13442Za8fssaNcM7QVvwTBUtlhH7lHLGm52SImavfZHZbmUHE0UQDQNnytUMJDpAEwi+sR5cFZ+OLYcJujSE1ma8LI6dLzb6xnf79oYepISbJprITWvyCvPuCX3gf6y4r3s1/JAx1T3awqipRUThZWKOeVGybE8JXaX0QwuJ+w5g+rP9K2t7e1UHM1DqeIRG76vA7A6ogn1BDK0ymmC2qzrGIOTJk1uQYW2aRN5vBKpueitlyHZpg+RSHwhsbHUuxIo3oi9SsqoxRh1ezHZM86PpkT4ISmm3CiTFjkxdUyZx3aTQ1qF9xxfSE4CfYSMZSra5eICi6BmciumdKYpw26tMbsD0mradzxFVgJYMBdFeKbG4DEpQwULAV7P/Rr85P+qNT0cmMu+/MG66aqC6ivY/ZGuMxaokyl9nqraTl6YO9z1m7+w=
